@import "seattletimes";

body {
  background-color: #212121;
}

.inner {
  max-width: 1200px;
  margin: auto;
  color: lightgray;
}

.hero {
  line-height: 0;
  margin: auto;
  margin-top: 40px;
  .display-flex();
  .align-items(center);
  background: #141416;

  .left, .right {
    .flex(1);
  }

  img {
    width: 100%;
  }

  @media @mobile {
    margin-top: 33px;
    display: block;
    background: none;

    .right {
      padding-top: 15px;
    }
  }
}

p {
  font-size: 24px;
  max-width: 720px;
  margin: auto;
  margin-bottom: 20px;
  line-height: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

.story {
  .story-inner {
    max-width: 860px;
    margin: auto;
  }

  margin: 40px auto;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 40px;

  .story-flex {
    .display-flex();

    @media @mobile {
      display: block;
    }
  }

  p {
    max-width: 860px;
    @media @tablet {
      font-size: 22px;
    }
    @media @mobile {
      font-size: 20px;
    }
  }

  .left {
    .flex(5);
  }

  .right {
    .flex(2);
    color: @df-border-gray;
    font-family: @df-sans;
    margin-left: 50px;
    border-top: 1px solid gray;
    padding-top: 15px;

    .join {
      font-size: 20px;
      margin-top: 0;
    }

    p {
      font-size: 16px;
      margin: 10px 0;
    }

    @media @mobile {
      margin-left: 0;
      margin-top: 30px;
    }
  }
}

.byline {
  font-family: @df-sans;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  line-height: 1.8em;
  margin-bottom: 0;
  margin-top: 20px;

  @media @mobile {
    font-size: 14px;
  }
}

.container {
  border-bottom: 1px solid gray;
  padding: 60px 20px;
  .display-flex();

  &:last-child {
    border-bottom: 0;
  }

  img {
    width: 100%;
  }

  @media @mobile {
    display: block;
    padding: 40px 15px;
  }

  h2 {
    color: lightgray;
    margin-top: 0;

    @media @mobile {
      margin-top: 20px;
    }
  }

  .date {
    font-family: @df-sans;
    font-size: 16px;

    @media @tablet {
      font-size: 14px;
    }
  }

  .img-box {
    .flex(3);

    @media @tablet {
      .flex(2);
    }
  }

  .portfolio-link {
    padding-left: 5px;
    a {
      color: #d3d3d3;
      &:hover {
        color: @df-middle-gray;
      }
    }
  }

  .caption {
    .flex(1);
    margin-left: 40px;

    @media @tablet {
      margin-left: 30px;
    }
    @media @mobile {
      margin-left: 0;
    }

    p {
      font-family: @df-sans;
      font-style: inherit;
      font-size: 16px;

      @media @tablet {
        font-size: 14px;
      }
    }
  }
}

nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &.top-bar {
    border-bottom: 1px solid lightgray;
    position: relative;

    .logo {
      width: 100%;
      position: relative;
      top: 30px;
      text-align: center;
      display: block;

      img {
        box-sizing: content-box;
        height: 30px;
        background: #212121;
        padding: 6px 10px;
        border: none;
      }
    }

    @media @mobile {
      margin-top: -30px;
    }
  }
}

.copyright {
  text-align: center;
  padding: 20px 0;
  font-family: @df-sans;
  font-size: 14px;
}

.share {
  label {
    color: #d3d3d3 !important;
    background: #141416 !important;
    padding: 9px 14px 7px 14px !important;
  }

  .left {
    margin-left: 0px !important;
  }

  &.top.sharer-0 {
    width: 100px !important;
  }
}