<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("./partials/_ad.html", { type: "banner" }) %>

    <div class="inner">
      <nav class="top-bar">
        <a class="logo" href="http://seattletimes.com">
          <img src="./assets/logo-transparent.png">
        </a>
      </nav>

      <div class="hero">
        <div class="left"><img src="./assets/pic3.jpg"></div>
        <div class="right">
          <img src="./assets/hero-image-poy.svg">
        </div>
      </div>

      <p class="byline">Introduction by <b>Tyrone Beason</b>, Pacific NW magazine writer<br> Photographs by Seattle Times staff photographers</p>

      <div class="story">
        <div class="story-inner">
          <p>Usually on New Year’s Day, we turn our attention to the future and contemplate what will be.</p>
          <div class="story-flex">
            <div class="left">
              <p>But 2016, a strange and turbulent year by any measure, won’t let go that easily.</p>
              <p>Even for those not suffering from postelection blues and obsessive thoughts of what could have been, the last year warrants reflection. And the images taken by Seattle Times photographers over that time offer the perfect portals through which to gaze at what has passed.</p>
              <a class="share top" aria-label="Share"></a>
            </div>
            <div class="right">
              <p class="join"><strong>Please join us</strong>
              <p>Seattle Times photojournalists will lead a conversation about our Pictures of the Year.
              <p><strong>7 p.m., Wednesday, Jan. 26</strong> (doors open at 6:30)
                <br><strong>Seattle Public Library</strong>
                <br><strong>1000 Fourth Ave., Seattle</strong>
            </div>
          </div>
        </div>
      </div>

      <% json.gallery.forEach(function(row) { %>
        <%= t.include("./_photo.html", row) %>
      <% }) %>

      <div class="copyright">
        Copyright 2016 The Seattle Times
      </div>

      <%= t.include("./partials/_ad.html", { type: "bannerBottom" }) %>

    </div>

    <%= t.include("./partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
