<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://use.fontawesome.com/bd870dfa49.js"></script>
  </head>
  <body>

    <%= t.include("./partials/_ad.html", { type: "banner" }) %>

    <div class="inner">
      <nav class="top-bar">
        <a class="logo" href="http://seattletimes.com">
          <img src="./assets/logo-transparent.png">
        </a>
      </nav>

      <div class="hero">
        <div class="left"><img src="./assets/pic3.jpg"></div>
        <div class="right">
          <img src="./assets/hero-image-poy.svg">
        </div>
      </div>

      <p class="byline">Introduction by <b>Tyrone Beason</b>, Pacific NW magazine writer<br> Photographs by Seattle Times staff photographers</p>

      <div class="story">
        <div class="story-inner">
          <p>Usually on New Year’s Day, we turn our attention to the future and contemplate what will be.</p>
          <div class="story-flex">
            <div class="left">
              <p>But 2016, a strange and turbulent year by any measure, won’t let go that easily.</p>
              <p>Even for those not suffering from postelection blues and obsessive thoughts of what could have been, the past year warrants reflection. And the images taken by Seattle Times photographers over that time offer the perfect portals through which to gaze at what has passed.</p>
            </div>
            <div class="right">
              <p class="join"><strong>Please join us</strong>
              <p>Seattle Times photojournalists will lead a conversation about our Pictures of the Year.
              <p><strong>7 p.m., Wednesday, Jan. 26</strong> (doors open at 6:30)
                <br><strong>Seattle Public Library</strong>
                <br><strong>1000 Fourth Ave., Seattle</strong>
              <br><br><a class="share top" aria-label="Share"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="containers">
        <% json.gallery.forEach(function(row) { %>
          <%= t.include("./_photo.html", row) %>
        <% }) %>
      </div>

      <div class="credits">
        <div>Design by <strong>Frank Mina</strong></div>
        <div>Development by <strong>Audrey Carlsen</strong></div>
      </div>

      <%= t.include("./partials/_dontMiss.html", { data: [
        { link: "https://projects.seattletimes.com/2016/great-reads/", image: "teaser1.jpg", head: "Great Reads: The Seattle Times' best books recommendations" },
        { link: "http://projects.seattletimes.com/2016/videos-of-the-year/", image: "teaser2.jpg", head: "2016 Videos of the year" },
        { link: "http://projects.seattletimes.com/2015/photos-of-the-year/", image: "teaser3.jpg", head: "2015 Pictures of the year" },
        { link: "http://projects.seattletimes.com/2015/videos-of-the-year/", image: "teaser4.jpg", head: "2015 Videos of the year" }
      ]}) %>

      <%= t.include("./partials/_ad.html", { type: "bannerBottom" }) %>

      <div class="copyright">
        Copyright 2016 The Seattle Times
      </div>

    </div>

    <%= t.include("./partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
